/* (=^ᆺ^=) GLOBAL (=^ᆺ^=) */

:root {
    --black-color: #000000;
    --blue-color: #0065fc;
    --gray-color: #d9d9d9;
    --graybg-color: #f2f2f2;
    --lightblue-color: #deebff;
    --card-shadow: 0 0 7px 7px rgba(0, 0, 0, 0.08);
    --radius-lg: 20px;
    --radius-sm: 15px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Raleway", system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    color: var(--black-color);
}

html,
body {
    height: 100%;
}

body {
    margin: 0 50px;
}

#booki-layout {
    max-width: 1400px;
    margin: 0 auto;
}

h1 {
    font-size: 22px;
    font-weight: 700;
}

p,
a {
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
}

/* (=^ᆺ^=) UTILITIES (=^ᆺ^=) */

.py {
    padding: 8px 0;
}

.my-2 {
    margin: 20px 0;
}

.py-x {
    padding: 16px 0;
}

.py-3 {
    padding: 24px 0;
}

.py-5 {
    padding: 34px 0;
}

.py-4 {
    padding: 44px 0;
}

.px-2 {
    padding-left: 20px;
    padding-right: 20px;
}

.px-3 {
    padding-left: 30px;
    padding-right: 30px;
}

.icon-size {
    font-size: 11px;
    line-height: 1;
}

.icon-size-plus {
    font-size: 20px;
    line-height: 1;
}

.icon-blue {
    color: var(--blue-color);
}

.icon-gray {
    color: var(--graybg-color);
}

.icon-white {
    color: #ffffff;
}

/* (=^ᆺ^=) HEADER (=^ᆺ^=) */

.booki-header {
    height: auto;
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    justify-content: space-between;
}

.booki-header__logo {
    width: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.booki-header__logo img {
    width: 61px;
}

.booki-header-nav {
    display: flex;
    width: auto;
}

.booki-header-nav a {
    font-size: 16px;
}

a.booki-header-nav__link {
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 2px solid transparent;
    border-bottom: 2px solid transparent;
}

.booki-header-nav .booki-header-nav__link:focus,
.booki-header-nav .booki-header-nav__link:hover {
    border-top: 2px solid var(--blue-color);
    border-bottom-color: transparent;
}

a.booki-header-nav__link:focus>span,
a.booki-header-nav__link:hover>span {
    color: var(--blue-color);
}

/* (=^ᆺ^=) TITLE (=^ᆺ^=) */

.booki-title {
    padding: 31px 0 36px 0;
}

.booki-title h1 {
    margin-bottom: 13px;
}

/* (=^ᆺ^=) FORM (=^ᆺ^=) */

.booki-form {
    display: flex;
    width: 100%;
    max-width: 418px;
    height: 50px;
    padding: 0;
}

.booki-form__img {
    min-width: 49px;
    border-radius: var(--radius-sm) 0 0 var(--radius-sm);
    background-color: var(--graybg-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.booki-form img {
    width: 16px;
}

.booki-form__input {
    display: flex;
    width: 100%;
    max-width: 253px;
    min-width: 150px;
    border-top: 1px solid var(--graybg-color);
    border-bottom: 1px solid var(--graybg-color);
}

.booki-form input {
    border: none;
    width: 100%;
    padding-left: 10px;
    font-size: 18px;
    font-weight: 700;
}

.booki-form input:focus {
    outline: none;
}

.booki-form__button {
    display: flex;
    min-width: 132px;
    justify-content: center;
    align-items: center;
    background-color: var(--blue-color);
    color: #fff;
    border: none;
    border-radius: 0 var(--radius-sm) var(--radius-sm) 0;
    cursor: pointer;
}

.booki-form__button--search {
    display: block;
    font-weight: 700;
    font-size: 18px;
    color: #fff;
}

.booki-form__button--icon {
    width: 16px;
}

.booki-form__button i {
    display: none;
}

/* (=^ᆺ^=) FILTER (=^ᆺ^=) */

.booki-filter__title {
    font-size: 18px;
    font-weight: 700;
    margin: 0 20px 5px 0;
}

.booki-filter {
    padding: 34px 0;
    display: flex;
    align-items: center;
}

.booki-filter-all {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.booki-filter__tag {
    display: flex;
    align-items: center;
    height: 50px;
    padding: 10px 15px;
    margin: 5px 20px 5px 0;
    background: transparent;
    border: 2px solid var(--gray-color);
    border-radius: 25px;
    cursor: pointer;
    transition: background-color .15s ease-in-out;
    width: auto;
}

.booki-filter__tag:hover {
    background-color: var(--lightblue-color);
}

.booki-filter__tag p {
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 17px;
    margin-left: 10px;
}

/* (=^ᆺ^=) INFO (=^ᆺ^=) */

.booki-info {
    display: flex;
    align-items: center;
    padding: 0 0 39px 0;
}

.booki-info i {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px;
    width: 29px;
    margin-right: 11px;
    border: 1px solid var(--gray-color);
    border-radius: 67px;
}

.booki-info>p {
    bottom: -5px;
}

/* (=^ᆺ^=) DOUBLE SECTION (=^ᆺ^=) */

.booki-double {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    gap: 40px;
}

/* (=^ᆺ^=) MOST POPULAR (=^ᆺ^=) */

.booki-most-popular {
    background-color: var(--graybg-color);
    border-radius: var(--radius-lg);
    padding: 40px 37px;
    width: 430px;
}

.booki-most-popular__title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.booki-most-popular__title img {
    width: 18px;
}

.booki-most-popular-row {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
}

.booki-most-popular__card {
    display: flex;
    width: 100%;
    margin: 10px 0;
    background-color: #fff;
    border: 5px solid #fff;
    border-radius: var(--radius-lg);
    box-shadow: var(--card-shadow);
    justify-content: center;
}

.booki-most-popular__card article {
    display: flex;
    width: 100%;
}

.booki-most-popular__card--left {
    width: 60%;
}

.booki-most-popular__card--left-img {
    height: 144px;
}

.booki-most-popular__card--left-img img {
    width: 100%;
    height: 144px;
    object-fit: cover;
    border-radius: var(--radius-lg) 0 0 var(--radius-lg);
}

.booki-most-popular__card--right {
    width: 100%;
    margin: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.booki-most-popular__card--title {
    font-size: 16px;
    font-weight: 700;
}

.booki-most-popular__card--content {
    font-size: 14px;
}

.booki-most-popular__card-icon img {
    width: 12px;
}

/* (=^ᆺ^=) ACCOMMODATION (=^ᆺ^=) */

#accomodation {
    margin-bottom: 20px;
}

.booki-accommodation h1 {
    margin-bottom: 14px;
}

.booki-accommodation {
    background-color: var(--graybg-color);
    border-radius: var(--radius-lg);
    padding: 40px 37px;
    margin-bottom: 0;
    width: 920px;
}

.booki-accommodation-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.booki-accommodation__card {
    width: 31%;
    height: 199px;
    margin: 10px 0;
    background-color: #fff;
    border: 5px solid #fff;
    border-radius: var(--radius-lg);
    box-shadow: var(--card-shadow);
}

.booki-accommodation__card--img img {
    width: 100%;
    height: 124px;
    object-fit: cover;
    border-radius: var(--radius-lg) var(--radius-lg) 0 0;
}

.booki-accommodation__card--title {
    font-size: 16px;
    font-weight: 700;
    margin: 2px 0 0 8px;
}

.booki-accommodation__card--content {
    font-size: 14px;
    margin: 4px 0 0 8px;
}

.booki-accommodation__card--icon {
    margin-left: 8px;
}

.booki-accommodation__card--icon img {
    width: 12px;
}

.booki-accommodation__more {
    cursor: pointer;
}

.booki-accommodation__more p {
    font-size: 18px;
    font-weight: 700;
    margin-top: 35px;
    margin-bottom: 10px;
}

/* (=^ᆺ^=) ACTIVITY (=^ᆺ^=) */

.booki-activity h2 {
    margin-bottom: 15px;
}

.booki-activity-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.booki-activity__card {
    width: 23%;
    height: 444px;
    margin: 15px 0;
    background-color: #fff;
    border-radius: var(--radius-lg);
    box-shadow: var(--card-shadow);
}

.booki-activity__card--img img {
    width: 100%;
    height: 388px;
    object-fit: cover;
    border-radius: var(--radius-lg) var(--radius-lg) 0 0;
}

.booki-activity__card--title {
    height: 45px;
    display: flex;
    align-items: center;
    margin: 0 19px;
    font-size: 16px;
    font-weight: 700;
}

/* (=^ᆺ^=) FOOTER (=^ᆺ^=) */

.booki-footer {
    background-color: var(--graybg-color);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.booki-footer__card {
    width: 33%;
    margin-bottom: 40px;
}

.booki-footer--title {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 20px;
}

.booki-footer--nav ul {
    list-style: none;
    font-size: 16px;
    line-height: 1.6;
}

.booki-footer--nav a {
    text-decoration: none;
}

/* (=^ᆺ^=) MEDIA QUERIES — TABLETTE (-1439px) (=^ᆺ^=) */

@media screen and (max-width: 1439px) {

    /* (=^ᆺ^=) DOUBLE (=^ᆺ^=) */

    .booki-double {
        flex-direction: column-reverse;
        justify-content: flex-start;
        gap: 0;
    }

    /* (=^ᆺ^=) MOST POPULAR (=^ᆺ^=) */

    .booki-most-popular {
        width: 100%;
    }

    .booki-most-popular-row {
        flex-direction: row;
        flex-wrap: nowrap;
    }

    .booki-most-popular__card {
        margin: 10px;
    }

    /* (=^ᆺ^=) ACCOMMODATION (=^ᆺ^=) */

    .booki-accommodation {
        width: 100%;
        margin-bottom: 53px;
    }

    /* (=^ᆺ^=) ACTIVITY (=^ᆺ^=) */

    .booki-activity__card {
        height: 300px;
    }

    .booki-activity__card--img img {
        height: 244px;
    }
}

/* (=^ᆺ^=) MEDIA QUERIES — MOBILE (-1023px) (=^ᆺ^=) */

@media screen and (max-width: 1023px) {

    body {
        margin: 0;
    }

    /* (=^ᆺ^=) HEADER (=^ᆺ^=) */

    .booki-header {
        height: 120px;
        flex-direction: column;
        align-items: center;
        margin-bottom: 20px;
    }

    .booki-header__logo {
        width: 100%;
        justify-content: center;
    }

    .booki-header-nav {
        width: 100%;
    }

    a.booki-header-nav__link {
        width: 50%;
        padding: 16px 0;
        border-bottom: 2px solid var(--gray-color);
    }

    .booki-header-nav .booki-header-nav__link:focus,
    .booki-header-nav .booki-header-nav__link:hover {
        border-bottom: 2px solid var(--blue-color);
        border-top: none;
    }

    /* (=^ᆺ^=) TITLE (=^ᆺ^=) */

    .booki-title {
        padding: 25px 16px;
    }

    /* (=^ᆺ^=) FORM (=^ᆺ^=) */

    .booki-form {
        padding: 0 20px;
    }

    .booki-form__button {
        min-width: 49px;
        border-radius: var(--radius-sm);
    }

    .booki-form__button--search {
        display: none;
    }

    .booki-form__button i {
        display: inline-block;
    }

    /* (=^ᆺ^=) FILTER (=^ᆺ^=) */

    .booki-filter {
        padding: 34px 16px;
        display: block;
        align-items: flex-start;
    }

    .booki-filter-all {
        justify-content: space-between;
    }

    .booki-filter__tag {
        width: 49%;
        margin: 5px 0;
    }

    .booki-filter__tag p {
        font-size: 11px;
    }

    /* (=^ᆺ^=) INFO (=^ᆺ^=) */

    .booki-info {
        padding: 0 16px 34px 16px;
    }

    /* (=^ᆺ^=) DOUBLE (=^ᆺ^=) */

    .booki-double {
        flex-direction: column;
    }

    /* (=^ᆺ^=) MOST POPULAR (=^ᆺ^=) */

    .booki-most-popular {
        border-radius: 0;
        padding: 34px 16px;
    }

    .booki-most-popular-row {
        flex-wrap: wrap;
    }

    .booki-most-popular__card {
        margin: 10px 0;
    }

    /* (=^ᆺ^=) ACCOMMODATION (=^ᆺ^=) */

    .booki-accommodation {
        background-color: transparent;
        border-radius: 0;
        padding: 0;
        width: 100%;
        margin-bottom: 0;
        padding: 34px 16px;

    }

    .booki-accommodation-row {
        justify-content: flex-start;
    }

    .booki-accommodation__card {
        width: 100%;
    }

    /* (=^ᆺ^=) ACTIVITY (=^ᆺ^=) */

    .booki-activity__card {
        width: 100%;
        height: 190px;
    }

    .booki-activity__card--img img {
        height: 134px;
    }

    /* (=^ᆺ^=) FOOTER (=^ᆺ^=) */

    .booki-footer__card {
        width: 100%;
    }
}